@model IEnumerable<CTPapuci.Models.Functie>

@{
    ViewData["Title"] = "Index";
}

<h1>Funcții</h1>

<p>
    <a asp-action="Create">Creează</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriere)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalii</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Ștergere</a>
            </td>
        </tr>
}
    </tbody>
</table>
